@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-inter m-0 p-0 box-border text-white scroll-smooth cursor-none;
}
body {
  @apply bg-black;
}
a {
  @apply cursor-none;
}
.h1 {
  @apply text-[70px] md:text-[80px] leading-[88px] tracking-[-0.03em];
}
.h1-secondary {
  @apply text-[64px] leading-[72px] tracking-[-0.03em] mb-10;
}
.h1-formatted {
  @apply text-[40px] tracking-normal leading-[48px] mb-10;
}
.h2 {
  @apply text-[48px] leading-[56px] tracking-[-0.03em] mb-10;
}
.h2-formatted {
  @apply text-[36px] tracking-normal leading-10 mb-10;
}
.h3 {
  @apply text-[20px] leading-[28px] tracking-normal mb-10;
}
.h3-formatted {
  @apply text-[32px] tracking-normal leading-10 mb-10;
}
.h4-formatted {
  @apply text-[28px] tracking-normal leading-9 mb-10;
}
.h5-formatted {
  @apply text-[24px] tracking-normal leading-8 mb-10;
}
.h6-formatted {
  @apply text-[20px] tracking-normal leading-7 mb-10;
}
.small {
  @apply text-grey text-[14px] leading-5 tracking-normal mb-5;
}
.paragraph {
  @apply text-grey text-[16px] leading-5 tracking-normal mb-5;
}
.p-formatted {
  @apply text-[16px] tracking-normal leading-[26px] mb-5;
}
.pop-up {
  @apply opacity-0 translate-y-[50px] transition-all duration-500 ease-in-out;
}
.pop-up.active {
  @apply opacity-100 translate-y-0;
}
.black-gradient {
  background: linear-gradient(
    to top,
    black,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.9),
    black
  );
}
#cursor-trail {
  @apply hidden lg:block fixed top-0 left-0 pointer-events-none z-[9999];
}
.dot {
  @apply absolute w-2 h-2 bg-white rounded-full translate-x-[-50%] translate-y-[-50%];
}
.trail {
  @apply absolute w-8 h-8 bg-gray-400 rounded-full opacity-50 translate-x-[-50%] translate-y-[-50%];
}
.link {
  position: relative;
  padding: 0 2px;
}
.link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 0;
  height: 2px;
  border-radius: 999px;
  transition: width 0.3s ease;
}
.link:hover::before {
  width: 100%;
}
